## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key

from config import g_key

# Configure gmaps API key

gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Aquiraz,-3.9014,-38.3911,82.49,66,89,10.13,BR,overcast clouds,2022-11-08 20:27:32
1,1,Yellowknife,62.4560,-114.3525,10.92,85,100,3.44,CA,light snow,2022-11-08 20:27:32
2,2,Ushuaia,-54.8000,-68.3000,55.02,53,40,23.02,AR,scattered clouds,2022-11-08 20:24:11
3,3,Albany,42.6001,-73.9662,52.45,34,0,1.01,US,clear sky,2022-11-08 20:24:16
4,4,Champerico,14.3000,-91.9167,84.74,70,99,3.51,GT,light rain,2022-11-08 20:27:33

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 68
What is your desired maximum temperature for your trip? 95

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Aquiraz,-3.9014,-38.3911,82.49,66,89,10.13,BR,overcast clouds,2022-11-08 20:27:32
4,4,Champerico,14.3000,-91.9167,84.74,70,99,3.51,GT,light rain,2022-11-08 20:27:33
5,5,Rikitea,-23.1203,-134.9692,75.09,90,77,15.90,PF,light rain,2022-11-08 20:27:34
6,6,Faanui,-16.4833,-151.7500,78.39,70,93,9.95,PF,overcast clouds,2022-11-08 20:27:34
11,11,Santa Maria Da Boa Vista,-8.8078,-39.8256,83.48,54,53,8.79,BR,broken clouds,2022-11-08 20:25:17
14,14,Georgetown,5.4112,100.3354,80.24,92,20,3.44,MY,few clouds,2022-11-08 20:26:36
18,18,Puerto Carreno,6.1890,-67.4859,89.58,62,20,3.44,CO,few clouds,2022-11-08 20:27:40
20,20,Acapulco,16.8634,-99.8901,85.82,74,0,8.05,MX,clear sky,2022-11-08 20:27:41
22,22,Kampil,27.6167,79.2833,71.01,67,92,5.57,IN,overcast clouds,2022-11-08 20:27:41
25,25,Caravelas,-17.7125,-39.2481,73.67,70,100,7.16,BR,overcast clouds,2022-11-08 20:27:43

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Current Description    0
Date                   0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities_df = preferred_cities_df.dropna()
clean_travel_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Aquiraz,-3.9014,-38.3911,82.49,66,89,10.13,BR,overcast clouds,2022-11-08 20:27:32
4,4,Champerico,14.3000,-91.9167,84.74,70,99,3.51,GT,light rain,2022-11-08 20:27:33
5,5,Rikitea,-23.1203,-134.9692,75.09,90,77,15.90,PF,light rain,2022-11-08 20:27:34
6,6,Faanui,-16.4833,-151.7500,78.39,70,93,9.95,PF,overcast clouds,2022-11-08 20:27:34
11,11,Santa Maria Da Boa Vista,-8.8078,-39.8256,83.48,54,53,8.79,BR,broken clouds,2022-11-08 20:25:17
...,...,...,...,...,...,...,...,...,...,...,...
696,696,Tallahassee,30.4383,-84.2807,85.08,45,40,14.97,US,scattered clouds,2022-11-08 20:43:31
698,698,Mazatlan,23.2167,-106.4167,81.91,69,2,7.00,MX,clear sky,2022-11-08 20:48:26
700,700,Doume,4.2333,13.4500,72.52,73,75,1.28,CM,broken clouds,2022-11-08 20:48:27
701,701,Mafinga,-7.2500,35.0667,76.39,47,57,5.82,TZ,broken clouds,2022-11-08 20:48:27
704,704,Greenwood,34.1668,-82.1165,75.36,27,0,10.36,US,clear sky,2022-11-08 20:48:29

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Aquiraz,BR,82.49,overcast clouds,-3.9014,-38.3911,
4,Champerico,GT,84.74,light rain,14.3000,-91.9167,
5,Rikitea,PF,75.09,light rain,-23.1203,-134.9692,
6,Faanui,PF,78.39,overcast clouds,-16.4833,-151.7500,
11,Santa Maria Da Boa Vista,BR,83.48,broken clouds,-8.8078,-39.8256,
14,Georgetown,MY,80.24,few clouds,5.4112,100.3354,
18,Puerto Carreno,CO,89.58,few clouds,6.1890,-67.4859,
20,Acapulco,MX,85.82,clear sky,16.8634,-99.8901,
22,Kampil,IN,71.01,overcast clouds,27.6167,79.2833,
25,Caravelas,BR,73.67,overcast clouds,-17.7125,-39.2481,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"] [0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Aquiraz,BR,82.49,overcast clouds,-3.9014,-38.3911,Pousada Rua Camurupim
4,Champerico,GT,84.74,light rain,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
5,Rikitea,PF,75.09,light rain,-23.1203,-134.9692,People ThankYou
6,Faanui,PF,78.39,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
11,Santa Maria Da Boa Vista,BR,83.48,broken clouds,-8.8078,-39.8256,Fênix Hotel e Restaurante

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

Hotel Name
      {Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description}

Max Temp
{Max Temp} °F


"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))